absl-py
aext-assistant
aext-assistant-server
aext-core
aext-core-server
aext-panels
aext-panels-server
aext-share-notebook
aext-share-notebook-server
aext-shared
aiobotocore
aiohttp
aioitertools
aiosignal
alabaster
altair
anaconda-anon-usage
anaconda-catalogs
anaconda-client
anaconda-cloud-auth
anaconda-navigator
anaconda-project
annotated-types
anyio
appdirs
applaunchservices
appnope
appscript
archspec
argon2-cffi
argon2-cffi-bindings
arrow
astroid
astropy
astropy-iers-data
asttokens
astunparse
async-lru
atomicwrites
attrs
Automat
autopep8
Babel
backports.functools-lru-cache
backports.tarfile
backports.tempfile
backports.weakref
bcrypt
beautifulsoup4
binaryornot
black
bleach
blinker
blis
bokeh
boltons
botocore
Bottleneck
Brotli
cachetools
catalogue
certifi
cffi
chardet
charset-normalizer
click
cloudpathlib
cloudpickle
clyent
colorama
colorcet
comm
conda
conda-build
conda-content-trust
conda-libmamba-solver
conda-pack
conda-package-handling
conda-repo-cli
conda-token
conda-verify
conda_index
conda_package_streaming
confection
constantly
contourpy
cookiecutter
cryptography
cssselect
cycler
cymem
cytoolz
dask
dask-expr
datashader
debugpy
decorator
defusedxml
diff-match-patch
dill
distlib
distributed
distro
dmglib
dnspython
docstring-to-markdown
docutils
email_validator
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl#sha256=86cc141f63942d4b2c5fcee06630fd6f904788d2f0ab005cce45aadb8fb73889
entrypoints
et-xmlfile
executing
Faker
fastjsonschema
filelock
flake8
Flask
Flask-Bcrypt
Flask-Cors
Flask-Login
Flask-Mail
Flask-SQLAlchemy
Flask-WTF
flatbuffers
floret
fonttools
fqdn
frozendict
frozenlist
fsspec
future
gast
gensim
gitdb
GitPython
gmpy2
google-pasta
greenlet
grpcio
h11
h5py
HeapDict
holoviews
httpcore
httpx
huggingface-hub
hvplot
hyperlink
idna
imagecodecs
imageio
imagesize
imbalanced-learn
importlib-metadata
incremental
inflection
iniconfig
intake
intervaltree
ipykernel
ipython
ipython-genutils
ipywidgets
isoduration
isort
itemadapter
itemloaders
itsdangerous
jaraco.classes
jedi
jellyfish
Jinja2
jmespath
joblib
json5
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab-pygments
jupyterlab-widgets
jupyterlab_code_formatter
jupyterlab_server
keras
keyring
kiwisolver
langcodes
language_data
lazy-object-proxy
lazy_loader
lckr_jupyterlab_variableinspector
libarchive-c
libclang
libmambapy
linkify-it-py
llvmlite
lmdb
locket
lxml
lz4
marisa-trie
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mccabe
mdit-py-plugins
mdurl
menuinst
mistune
ml-dtypes
more-itertools
mpmath
msgpack
multidict
multipledispatch
munkres
murmurhash
mypy
mypy-extensions
namex
navigator-updater
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nltk
notebook
notebook_shim
numba
numexpr
numpy
numpydoc
opencv-python
openpyxl
opt-einsum
optree
overrides
packaging
pandas
pandas-datareader
pandocfilters
panel
param
parsel
parso
partd
pathlib
pathspec
patsy
pexpect
pickleshare
pillow
pkce
pkginfo
platformdirs
plotly
pluggy
ply
preshed
prometheus-client
prompt-toolkit
Protego
protobuf
psutil
ptyprocess
pure-eval
py-cpuinfo
pyarrow
pyasn1
pyasn1-modules
PyAudio
pycodestyle
pycosat
pycparser
pyct
pycurl
pydantic
pydantic_core
pydeck
PyDispatcher
pydocstyle
pyerfa
pyflakes
Pygments
PyJWT
pylint
pylint-venv
pyls-spyder
pyobjc
pyobjc-core
pyobjc-framework-Accessibility
pyobjc-framework-Accounts
pyobjc-framework-AddressBook
pyobjc-framework-AdServices
pyobjc-framework-AdSupport
pyobjc-framework-AppleScriptKit
pyobjc-framework-AppleScriptObjC
pyobjc-framework-ApplicationServices
pyobjc-framework-AppTrackingTransparency
pyobjc-framework-AudioVideoBridging
pyobjc-framework-AuthenticationServices
pyobjc-framework-AutomaticAssessmentConfiguration
pyobjc-framework-Automator
pyobjc-framework-AVFoundation
pyobjc-framework-AVKit
pyobjc-framework-AVRouting
pyobjc-framework-BackgroundAssets
pyobjc-framework-BrowserEngineKit
pyobjc-framework-BusinessChat
pyobjc-framework-CalendarStore
pyobjc-framework-CallKit
pyobjc-framework-CFNetwork
pyobjc-framework-Cinematic
pyobjc-framework-ClassKit
pyobjc-framework-CloudKit
pyobjc-framework-Cocoa
pyobjc-framework-Collaboration
pyobjc-framework-ColorSync
pyobjc-framework-Contacts
pyobjc-framework-ContactsUI
pyobjc-framework-CoreAudio
pyobjc-framework-CoreAudioKit
pyobjc-framework-CoreBluetooth
pyobjc-framework-CoreData
pyobjc-framework-CoreHaptics
pyobjc-framework-CoreLocation
pyobjc-framework-CoreMedia
pyobjc-framework-CoreMediaIO
pyobjc-framework-CoreMIDI
pyobjc-framework-CoreML
pyobjc-framework-CoreMotion
pyobjc-framework-CoreServices
pyobjc-framework-CoreSpotlight
pyobjc-framework-CoreText
pyobjc-framework-CoreWLAN
pyobjc-framework-CryptoTokenKit
pyobjc-framework-DataDetection
pyobjc-framework-DeviceCheck
pyobjc-framework-DictionaryServices
pyobjc-framework-DiscRecording
pyobjc-framework-DiscRecordingUI
pyobjc-framework-DiskArbitration
pyobjc-framework-DVDPlayback
pyobjc-framework-EventKit
pyobjc-framework-ExceptionHandling
pyobjc-framework-ExecutionPolicy
pyobjc-framework-ExtensionKit
pyobjc-framework-ExternalAccessory
pyobjc-framework-FileProvider
pyobjc-framework-FileProviderUI
pyobjc-framework-FinderSync
pyobjc-framework-FSEvents
pyobjc-framework-GameCenter
pyobjc-framework-GameController
pyobjc-framework-GameKit
pyobjc-framework-GameplayKit
pyobjc-framework-HealthKit
pyobjc-framework-ImageCaptureCore
pyobjc-framework-InputMethodKit
pyobjc-framework-InstallerPlugins
pyobjc-framework-InstantMessage
pyobjc-framework-Intents
pyobjc-framework-IntentsUI
pyobjc-framework-IOBluetooth
pyobjc-framework-IOBluetoothUI
pyobjc-framework-IOSurface
pyobjc-framework-iTunesLibrary
pyobjc-framework-KernelManagement
pyobjc-framework-LatentSemanticMapping
pyobjc-framework-LaunchServices
pyobjc-framework-libdispatch
pyobjc-framework-libxpc
pyobjc-framework-LinkPresentation
pyobjc-framework-LocalAuthentication
pyobjc-framework-LocalAuthenticationEmbeddedUI
pyobjc-framework-MailKit
pyobjc-framework-MapKit
pyobjc-framework-MediaAccessibility
pyobjc-framework-MediaLibrary
pyobjc-framework-MediaPlayer
pyobjc-framework-MediaToolbox
pyobjc-framework-Metal
pyobjc-framework-MetalFX
pyobjc-framework-MetalKit
pyobjc-framework-MetalPerformanceShaders
pyobjc-framework-MetalPerformanceShadersGraph
pyobjc-framework-MetricKit
pyobjc-framework-MLCompute
pyobjc-framework-ModelIO
pyobjc-framework-MultipeerConnectivity
pyobjc-framework-NaturalLanguage
pyobjc-framework-NetFS
pyobjc-framework-Network
pyobjc-framework-NetworkExtension
pyobjc-framework-NotificationCenter
pyobjc-framework-OpenDirectory
pyobjc-framework-OSAKit
pyobjc-framework-OSLog
pyobjc-framework-PassKit
pyobjc-framework-PencilKit
pyobjc-framework-PHASE
pyobjc-framework-Photos
pyobjc-framework-PhotosUI
pyobjc-framework-PreferencePanes
pyobjc-framework-PushKit
pyobjc-framework-Quartz
pyobjc-framework-QuickLookThumbnailing
pyobjc-framework-ReplayKit
pyobjc-framework-SafariServices
pyobjc-framework-SafetyKit
pyobjc-framework-SceneKit
pyobjc-framework-ScreenCaptureKit
pyobjc-framework-ScreenSaver
pyobjc-framework-ScreenTime
pyobjc-framework-ScriptingBridge
pyobjc-framework-SearchKit
pyobjc-framework-Security
pyobjc-framework-SecurityFoundation
pyobjc-framework-SecurityInterface
pyobjc-framework-SensitiveContentAnalysis
pyobjc-framework-ServiceManagement
pyobjc-framework-SharedWithYou
pyobjc-framework-SharedWithYouCore
pyobjc-framework-ShazamKit
pyobjc-framework-Social
pyobjc-framework-SoundAnalysis
pyobjc-framework-Speech
pyobjc-framework-SpriteKit
pyobjc-framework-StoreKit
pyobjc-framework-Symbols
pyobjc-framework-SyncServices
pyobjc-framework-SystemConfiguration
pyobjc-framework-SystemExtensions
pyobjc-framework-ThreadNetwork
pyobjc-framework-UniformTypeIdentifiers
pyobjc-framework-UserNotifications
pyobjc-framework-UserNotificationsUI
pyobjc-framework-VideoSubscriberAccount
pyobjc-framework-VideoToolbox
pyobjc-framework-Virtualization
pyobjc-framework-Vision
pyobjc-framework-WebKit
pyodbc
pyOpenSSL
pyparsing
pyphen
PyQt5
PyQt5-sip
PyQtWebEngine
PySocks
pytest
python-dateutil
python-dotenv
python-json-logger
python-lsp-black
python-lsp-jsonrpc
python-lsp-server
python-slugify
python-snappy
pytoolconfig
pytz
pyviz_comms
pywavelets
PyYAML
pyzmq
QDarkStyle
qstylizer
QtAwesome
qtconsole
QtPy
queuelib
referencing
regex
requests
requests-file
requests-toolbelt
rfc3339-validator
rfc3986-validator
rich
rope
rpds-py
Rtree
ruamel-yaml-conda
ruamel.yaml
s3fs
safetensors
scikit-image
scikit-learn
scipy
Scrapy
seaborn
semver
Send2Trash
service-identity
shellingham
sip
six
smart-open
smmap
sniffio
snowballstemmer
sortedcontainers
soupsieve
spacy
spacy-legacy
spacy-loggers
Sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
spyder
spyder-kernels
SQLAlchemy
srsly
stack-data
statsmodels
streamlit
sympy
tables
tabulate
tblib
tenacity
tensorboard
tensorboard-data-server
tensorflow
tensorflow-io-gcs-filesystem
tensorflow-macos
tensorflow-metal
termcolor
terminado
text-unidecode
textacy
textblob
textdistance
tflearn
thinc
threadpoolctl
three-merge
tifffile
tinycss2
tldextract
tokenizers
toml
tomli
tomlkit
toolz
torch
torchaudio
torchvision
tornado
tqdm
traitlets
transformers
truststore
Twisted
typer
typing_extensions
tzdata
tzlocal
uc-micro-py
ujson
unicodedata2
Unidecode
uri-template
urllib3
validators
virtualenv
w3lib
wasabi
watchdog
wcwidth
weasel
webcolors
webencodings
websocket-client
Werkzeug
whatthepatch
widgetsnbextension
wrapt
WTForms
wurlitzer
xarray
xgboost
xlwings
xyzservices
yapf
yarl
zict
zipp
zope.interface
zstandard
