fastapi
uvicorn
pydantic
tensorflow
httpx
pandas
nltk
scikit-learn
requests
gensim
textblob
spacy
astrapy
wikipedia
langchain
python-dotenv
langchain_groq
transformers
langchain_astradb
sentence-transformers
tf-keras